<p></p>

<div class="container sticky-top pb-2" id="navbar" style="background-color: #e3f2fd;">

    <img src="assets/ZA_Hub_Landscape_Black_Logo.png"  style="height: 50px; width: 172px; position: absolute" class="nav-link card-img-top" alt="...">

  <ul class="nav justify-content-center">

    <li class="nav-item">
      <a class="nav-link px-5 link-dark active" routerLink="manu" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item icon-link">
      <a class="nav-link link-dark" routerLink="dashboard" href="#scrollspyHeading1">Region</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-dark" routerLink="FirstDashboard" href="#scrollspyHeading2">Deep Dive</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-dark " routerLink="SecondDashboard" aria-disabled="true">Costs</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>

