<p></p>
<div class="container sticky-top pb-2" id="navbar" style="background-color: #e3f2fd;">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link px-5 link-dark active" routerLink="manu" aria-current="page" href="#">Manu</a>
    </li>
    <li class="nav-item icon-link">
      <a class="nav-link link-dark" routerLink="dashboard" href="#scrollspyHeading1">Costs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-dark" routerLink="FirstDashboard" href="#scrollspyHeading2">CO2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-dark disabled" routerLink="FirstDashboard" aria-disabled="true">Disabled</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>

