<div class="container p-5">
  <h1 class="text-center">Welcome to the FinOps Dashboards</h1>
</div>
<div class="container p-5">
  <div class="row row-cols-sm-3 g-6">
    <div class="col-lg-4" (click)="ThirdDashboard()">
      <div class="card h-100 shadow  grow">
        <img src="assets/LinkedIn banners_2-04.jpg" style="height: 40%" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Region</h5>
          <p class="card-text">This is a deep dive on the correlation on C02 emissions and cost dependant on each region. </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4" (click)="ThirdDashboard()">
      <div class="card h-100 shadow  grow">
        <img src="assets/LinkedIn banners_2-08.jpg" style="height: 40%" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Deep Dive</h5>
          <p class="card-text">This is a deep dive on the correlation on C02 emissions and cost dependant on each product and application.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4" (click)="SecondDashboard()" >
      <div class="card h-100 shadow  grow">
        <img src="assets/LinkedIn banners_2-01 (1).jpg" style="height: 40%" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cost</h5>
          <p class="card-text">This is a deep dive on the correlation on C02 emissions and cost dependant on each department.</p>
        </div>
      </div>
    </div>
  </div>
</div>
